<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Movie App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*@Html.ActionLink("Movie rental", "Index", "Home", null, new { @class = "navbar-brand" })*@
                    <a href="@Url.Action("Index", "Home")" title="List View" class="links">
                        <img height="50"alt="List View" src="@Url.Content("https://2.bp.blogspot.com/-iNhLZiyMpxM/VsXPuiKGvpI/AAAAAAAAB84/IYnBv9-34b8/s1600/Movie%2BNight.png")">
                    
                    </a>

                    <img height="40px" src="" />
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
      <br/> <br />
            
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <footer>

                <p>&copy; @DateTime.Now.Year - Andrei | Movies Website</p>

            </footer>

        </div>
  
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Scripts/script.js")"></script>
</body>
</html>
